body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #4a3030;
   
}

.calculator {
    border: 2px solid #e57d7d;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(78, 44, 44, 0.1);
    overflow: hidden;
    width: 300px;
}

.display {
    background-color: #333;
    color: rgb(209, 169, 169);
    text-align: left;
    padding: 20px;
    font-size: 2em;
    box-sizing: border-box;
    width: 100%;
    height: 80px;
}

.buttons {
    border-radius: 50%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;
}

.btn {
    padding: 20px;
    font-size: 2em;
    background-color: rgb(202, 165, 86);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
}

.btn:hover {
    background-color: rgb(235, 126, 126);
}

.btn:active {
    background-color:aqua;
}
#equi{
    color: #d50f0f;
}
